DB_HOST=postgres
DB_PORT=5432
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password
DB_NAME=pingpongdb

REDIS_HOST=redis-cache
REDIS_PORT=6379

PONG_SERVICE_URL=http://pong-service:8081
PING_SERVICE_PORT=8080
PONG_SERVICE_PORT=8081
